<!-- START modular/templates/ContactForm.html -->
<div class="panel-heading">
	<h3 class="panel-title"><%= FirstName || LastName ? FirstName + ' ' + LastName : 'New User' %></h3>
	<div class="pull-right panelActionsContainer">
		<ul class="panelActionsList list-inline">
			<li>
				<a href="#" id="saveContact" title="Save Contact">
					<i class="glyphicon glyphicon-save"></i>
				</a>
			</li>
			<li>
				<a href="#" id="deleteContact" title="Delete Contact">
					<i class='glyphicon glyphicon-trash'></i>
				</a>
			</li>
			<li>
				<a href="#" id="closeContact" title="Close Contact" class="closeContact">
					x
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="panel-body form-horizontal">
	<div class="form-group">
		<label class="col-md-2 control-label">First Name</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="FirstName" value="<%= FirstName %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Last Name</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="LastName" value="<%= LastName %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Email</label>
		<div class="col-md-10">
			<input class="form-control" type="email" name="Email" value="<%= Email %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Home Phone</label>
		<div class="col-md-10">
			<input class="form-control" type="tel" name="HomePhone" value="<%= HomePhone %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Cell Phone</label>
		<div class="col-md-10">
			<input class="form-control" type="tel" name="CellPhone" value="<%= CellPhone %>" />
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-md-2 control-label">Supervisor</label>
		<div class="col-md-10">
			<input class="form-control" type="text" name="Supervisor" value="<%= Supervisor %>" />
		</div>
	</div>
</div>
<!-- END modular/templates/ContactForm.html -->