<!-- START modular/templates/ContactsTable.html -->
<div class="panel-heading">
	<h3 class="panel-title">Contacts</h3>
	<div class="pull-right panelActionsContainer">
		<ul class='panelActionsList list-inline'>
			<li>
				<a id="newContact" href="#/contacts/new" title="New Contact">
					<i class="glyphicon glyphicon-new-window"></i>
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Email</th>
				<th>Home Phone</th>
				<th>CellPhone</th>
				<th>Supervisor</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>
<!-- END modular/templates/ContactsTable.html -->