<!-- START modular/templates/ContactsTableItem.html -->
<td><%= LastName %></td>
<td><%= FirstName %></td>
<td><%= Email %></td>
<td><%= HomePhone %></td>
<td><%= CellPhone %></td>
<td><%= Supervisor %></td>
<td style="vertical-align: middle;">
	<a href="#" id="deleteCollectionContact">
		<i class="glyphicon glyphicon-trash"></i>
	</a>
</td>
<!-- END modular/templates/ContactsTableItem.html -->