<!-- START app/templates/Home.html -->
<h2>Welcome to the Contacts Marionette Application</h2>
<h5>This is a demo of Backbone.Marionette. It's using the Bootswatch Paper theme. To get started click the 'Contacts' entry above</h5>
<!-- END app/templates/Home.html -->
