<!-- START app/templates/Layout.html -->
<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand">Contacts</a>
		</div>
		<div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">
						<i class="glyphicon glyphicon-home"></i>
						Home
					</a>
				</li>
				<li>
					<a href="#/contacts">
						<i class="glyphicon glyphicon-user"></i>
						Contacts
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div id="siteContent" class="row padded">
		<!-- CONTENT Region - All other content goes here -->
	</div>
</div>
<!-- END app/templates/Layout.html -->
