.padded {
	padding: 15px;
}
tbody > tr:hover {
	cursor: pointer;
}
td > a > i {
	font-size: 12px;
	color: black;
}
td > a > i:hover {
	color: red;
}
.panelActionsContainer {
	margin-top: -19px;
}
.panelActionsContainer i {
	color: white;
}
.panelActionsContainer i:hover {
	color: red;
}
.closeContact {
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: white;
}
.closeContact:hover {
	color: red;
}
.table-responsive {
	overflow-x: initial;
}
